body {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
}

body.no-fouc {
  opacity: 0;
  transition: opacity 0s ease-in;
}

body.no-fouc.active {
  opacity: 1;
}

.sidebar {
  position: fixed;
  background: white;
  height: 100%;
  width: 350px;
  transform: translateX(-355px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 2px 0px black;
  transition: transform 1s ease-in-out;
}

.sidebar.open {
  transform: translateX(0px);
}

.body {
  background: lightblue;
  height: 100%;
  width: 100%;
  display: flex;
}

.body .fixed-card-display {
  max-width: 350px;
  background: green;
  width: 100%;
}

.body .card-display {
  width: 100%;
}

.body .card-display .card-wrap {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

.body #cards {
  display: flex;
  flex-wrap: wrap;
  height: 0px;
}

.body #cards .magic-card {
  color: white;
  width: 20%;
  line-height: 0;
}

.body #cards .magic-card img {
  border-style: none;
  width: 100%;
  height: auto;
  padding: 10px;
  border-radius: 17px;
}

.main {
  height: 100%;
  overflow: hidden;
}

.open-btn {
  background: blue;
  position: absolute;
}

.magic-card-inner {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  -webkit-animation: 1.5s slide-in-flip forwards;
          animation: 1.5s slide-in-flip forwards;
  transform-style: preserve-3d;
}

.magic-card-front,
.magic-card-back {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.magic-card-back {
  position: absolute;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.magic-card-back .missing-card {
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #ff0000a8;
  padding: 14px;
  font-size: 20px;
}

@-webkit-keyframes slide-in-flip {
  0% {
    transform: translateX(100vw) rotateY(0deg);
  }

  70% {
    transform: translateX(0vw) rotateY(0deg);
  }

  100% {
    transform: translateX(0vw) rotateY(-180deg);
  }
}

@keyframes slide-in-flip {
  0% {
    transform: translateX(100vw) rotateY(0deg);
  }

  70% {
    transform: translateX(0vw) rotateY(0deg);
  }

  100% {
    transform: translateX(0vw) rotateY(-180deg);
  }
}

