.sidebar{
  background: #616161;
  position: absolute;
  height: 100%;
  width: 400px;
  z-index: 3;
  transform: translateX(-405px);
  transition: all .5s ease-in-out;
  h1{
    font-size: 3rem;
    background: #1a1820;
    font-weight: 100;
    color: white;
    margin: 0;
    border-bottom: solid #000913;
    padding: 21px;
    line-height: 1;
  }
  &.open{
    transform: translateX(0px);
    box-shadow: 0 0 20px 5px black;
    .top-tri{
      box-shadow: 0 0 0 black;
      .open-btn{
        .wrap{
            transform: rotateY(180deg);
        }
      }
    }
  }
  form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    #name-search{
      width: 100%;
      .icon.input{
        width: 100%;
      }
      input{
        width: 100%;
        border-radius: 0px;
        border-bottom: solid #333333;
        background: #a8a8a875;
        color: white;
        font-size: 18px;
        &:focus{
          border-color: unset;
        }
      }

      i{
        color: white;
      }
      .results{
        margin-top: 0px;
      }
    }
    #conditionals{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-evenly;
      border: solid #919191;
      padding: 16px;
      border-right: 16px;
      border-left: 16px;
      .radio-wrap{
        display: flex;
        align-items: center;
        span{
          font-size: 16px;
          margin-right: 10px;
          text-transform: uppercase;
          color: #919191;
          text-shadow: 0 0 1px black;
          font-weight: 600;
        }
        .radio{
          width: 16px;
          height: 16px;
          background: #ececec;
          border-radius: 50%;
          border: 1px solid;
          box-shadow: 0 0 3px 0px black;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          div{
            position: absolute;
          }
        }
        &.active{
          span{
            color: white;
          }
          .radio{
            div{
              border-radius: 50%;
              height: 8px;
              width: 8px;
              background: #606060;
            }
          }
        }
      }
    }
    #dropdowns{
      padding: 20px;
      width: 100%;
      border-bottom: solid #919191;
      .dropdown-wraps{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        label{
          font-size: 16px;
          margin-right: 20px;
          text-transform: uppercase;
          color: #ffffff;
          text-shadow: 0 0 1px black;
          font-weight: 600;
        }
        .ui.dropdown{
          width: 50%;
        }
        &:not(:last-child){
          margin-bottom: 20px;
        }
      }
    }
    .submit-wrap{
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding: 20px;
      input{
        padding: 6px 16px;
        cursor: pointer;
        background: white;
        border: none;
        border-radius: 3px;
      }
    }
    .error{
      text-align: center;
      font-size: 19px;
      color: #f84f4f;
      width: 100%;
      margin: 10px;
      font-weight: 900;
    }
  }

  .top-tri{
    background: #1a1820;
    z-index: -1;
    position: absolute;
    width: 120px;
    height: 120px;
    right: -60px;
    transform: rotate(45deg);
    top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 5px 0px black;
    .open-btn{
      position: absolute;
      transform: rotate(-45deg);
      right: 0px;
      .wrap{
        transition: .5s ease-in-out;
        i{
          color: white;
          font-size: 2rem;
          cursor: pointer;
        }
      }
    }
  }

  #colors{
    display: flex;
    margin: 10px -5px;
    padding: 0 20px;
    .color-wrap{
      width: 20%;
      margin: 5px;
      border-radius: 50%;
      img{
        width: 100%;
        height: auto;
        filter: contrast(0.3);
        border-radius: 50%;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        border: solid black 1px;
      }
      &.active{
        img{
          box-shadow: -1px 2px 1px 0px black;
          filter: contrast(1);
          transform: translateY(-2px);
        }
      }
    }
  }
}