@import 'form';
@import 'globals';

body{
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  line-height: 1 !important;
  &.no-fouc{
    opacity: 0;
    transition: opacity 0s ease-in;
    &.active{
      opacity: 1;
    }
  }
}

.body{
  background: lightblue;
  height: 100%;
  width: 100%;
  display: flex;
  .fixed-card-display{
    max-width: 400px;
    background: green;
    width: 100%;
  }

  .card-display{
    background: url(/img/mtg-cardfinder.png), #1a1820;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50% auto;
    position: relative;
    width: 100%;
    .card-wrap{
      overflow-y: scroll;
      overflow-x: hidden;
      height: 100%;
      padding: 20px;
      background: #1a182000;
    }
  }
  #cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 0px;
    .magic-card{
      color: white;
      width: 20%;
      line-height: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      // min-width: 150px;
      img{
        border-style: none;
        width: 100%;
        height: auto;
        border-radius: 4%;
        box-shadow: 0 4px 5px #00000073;
        &.missing{
          filter: grayscale(1);
        }
      }
    }
  }
}

.main{
  height: 100%;
  position: relative;
  overflow: hidden;
}



.magic-card-inner {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  animation: 1.5s slide-in-flip forwards;
  transform-style: preserve-3d;
  margin: 10px;
}

.magic-card-front, .magic-card-back {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.magic-card-back {
  position: absolute;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  .missing-card{
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 14px;
    font-size: 20px;
  }
}
.nav{
  background: #616161;
  z-index: 6;
  height: 50px;
  box-shadow: 0 0 3px black;
}

#no-cards{
  position: absolute;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    top: 0;
    width: 100%;
}

@keyframes slide-in-flip{
  0%{
    transform: translateX(100vw) rotateY(0deg);
  }
  70%{
    transform: translateX(0vw) rotateY(0deg);
  }
  100%{
    transform: translateX(0vw) rotateY(180deg);
  }
}

@media only screen and (max-width: 1200px){
  .body{
    .card-wrap{
        #cards{
          .magic-card{
            width: 25%;
          }
        }
    }
  }
}

@media only screen and (max-width: 1024px){
  .body{
    .card-wrap{
        #cards{
          .magic-card{
            width: 33%;
          }
        }
    }
  }
}