body{
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  &.no-fouc{
    opacity: 0;
    transition: opacity 0s ease-in;
    &.active{
      opacity: 1;
    }
  }
}

.sidebar{
  position: fixed;
  background: white;
  height: 100%;
  width: 350px;
  transform: translateX(-355px);
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 2px 0px black;
  transition: transform 1s ease-in-out;
  z-index: 5;
  &.open{
    transform: translateX(0px);
  }
  form{
    z-index: 5;
    background: red;
    height: 100%;
  }
}

.body{
  background: lightblue;
  height: 100%;
  width: 100%;
  display: flex;
  .fixed-card-display{
    max-width: 350px;
    background: green;
    width: 100%;
  }

  .card-display{
    width: 100%;
    .card-wrap{
      overflow-y: scroll;
      overflow-x: hidden;
      height: 100%;
      padding: 20px;
    }
  }
  #cards{
    display: flex;
    flex-wrap: wrap;
    height: 0px;
    .magic-card{
      color: white;
      width: 20%;
      line-height: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      // min-width: 150px;
      img{
        border-style: none;
        width: 100%;
        height: auto;

        border-radius: 17px;
        &.missing{
          filter: grayscale(1);
        }
      }
    }
  }
}

.main{
  height: 100%;
  overflow: hidden;
}

.bot-tri{
  background: #ff0000;
  position: absolute;
  width: 120px;
  height: 120px;
  right: -60px;
  transform: rotate(45deg);
  bottom: -12px;
  box-shadow: 0 0 2px 0px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-tri{
  background: #ff0000;
  position: absolute;
  width: 120px;
  height: 120px;
  right: -60px;
  transform: rotate(45deg);
  top: -60px;
  box-shadow: 0 0 2px 0px black;
  display: flex;
  justify-content: center;
  align-items: center;
  .open-btn{
    position: absolute;
    transform: rotate(-45deg);
    right: 7px;
  }
}

.magic-card-inner {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  animation: 1.5s slide-in-flip forwards;
  transform-style: preserve-3d;
  margin: 10px;
}

.magic-card-front, .magic-card-back {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.magic-card-back {
  position: absolute;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  .missing-card{
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 14px;
    font-size: 20px;
  }
}
.nav{
  background: red;
  z-index: 6;
  height: 50px;
}
@keyframes slide-in-flip{
  0%{
    transform: translateX(100vw) rotateY(0deg);
  }
  70%{
    transform: translateX(0vw) rotateY(0deg);
  }
  100%{
    transform: translateX(0vw) rotateY(-180deg);
  }
}